@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://cdn.jsdelivr.net/npm/typeface-nanum-square-round@1.0.2/nanumsquareround.min.css);
@import url(https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0/all.min.css);

body {
  font-family: 'NanumSquare', san-serif;
  margin: 0;
  background: #f4f4f4;
}
